.dragNote {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
	margin: 0.2rem 0;
	position: absolute;
	cursor: -webkit-grab;
	box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.note {
	padding: 16px;
	height: 20rem;
	width: 20rem;
	color: #0f0f0f;
	background: transparent;
	outline: none;
	border: none;
}

.note:active {
	cursor: -webkit-grab;
}
