/* Post It base
   ============================= */

.postItContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	margin: 0.2rem 0;
	position: absolute;
	/* Quitar position absolute cuando está en la trash bin */
	cursor: -webkit-grab;
	box-shadow: var(--box-shadow);
}

.postItContainer .note {
	padding: 16px;
	height: 20rem;
	width: 20rem;
	color: #0f0f0f;
	background: transparent;
	outline: none;
	border: none;
}

.postItContainer .note:active {
	cursor: -webkit-grab;
}
