/* Post It base
   ============================= */

.postItContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	margin: 0.2rem 0;
	box-shadow: var(--box-shadow);
}

.postItContainer .note {
	padding: 0.8rem;
	height: 20rem;
	width: 20rem;
	color: #0f0f0f;
	background: transparent;
	outline: none;
	border: none;
}
