/* Modal base
   ============================= */

.glass {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: var(--full-size);
	height: var(--full-size);
	justify-content: center;
	align-items: center;
	z-index: 5;
	background: #c4c4c4e8;
	top: 0;
}

.glass.show {
	display: flex;
}

.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--white);
	max-width: 30rem;
	height: auto;
	border: none;
	border-radius: var(--border-radius-regular);
	box-shadow: var(--box-shadow);
}

.modalTitle,
.modalMessage,
.divModalButtons {
	display: flex;
	align-items: center;
	padding: var(--padding-regular);
	margin: 0;
}

.modal .modalTitle {
	margin: var(--margin-regular);
	text-align: center;
}

.modal .modalMessage {
	border-top: var(--border-line);
	border-bottom: var(--border-line);
}

.modalMessage * {
	margin: var(--margin-regular);
}

.modalMessage img {
	width: 4rem;
}
