@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	height: calc(100% - 15.3rem);
	padding: 1rem;
	margin: 0;
}

.container.deletedPostIts {
	overflow-y: scroll;
	max-height: calc(100% - 15.3rem);
	justify-items: center;
	gap: 1rem;
	/* overflow-y-scroll justify-center gap-4  */
}

@media (max-width: 768px) {
	.container {
		overflow-y: scroll;
		max-height: calc(100% - 15.3rem);
		justify-items: center;
		gap: 1rem;
	}
}
