@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('./normalize.css'); */

/* Variables
   ============================= */

:root {
	/* Colors */
	/* 	--white: #ffffff;
	--yellow: #ffe57f;
	--aquamarine-blue: #00adc1;
	--pink: #f16c7f;
	--blue: #0b5ed7;
	--black: #373737;
	--light-gray: #c4c4c4; */

	/* Shadow */
	--box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);

	/* Font */
	/* 	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	--font-size-regular: 1.6rem;
	--font-color: var(--black);
 */
	/* Animations */
	--hover-opacity: 0.9;
	--click-button-transform: translateY(0.4rem);

	/* Layout */
	--image-size: 6rem;
	--margin-regular: 0.8rem;
	--no-padding: 0;
	--padding-regular: 1.2rem;
	--border-radius-regular: 0.8rem;
	--border-line: 1px solid var(--light-gray);
	--full-size: 100%;
}

/* Base
   ============================= */
/* 
*,
*:before,
*:after {
	box-sizing: border-box;
} */

/* html {
	font-size: 62.5%;
	height: var(--full-size);
} */
/* 
body {
	margin: 0;
	height: var(--full-size);
	font-size: var(--font-size-regular);
	font-family: var(--font-family);
	color: var(--font-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* #root {
	height: var(--full-size);
} */

/* section {
	height: var(--full-size);
	overflow: hidden;
} */

/* h1 {
	color: var(--light-gray);
	text-align: center;
} */

/* Links base
   ============================= */

/* .link {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: inherit;
	text-decoration: none;
	text-align: center;
	margin: var(--margin-regular);
	padding: var(--no-padding);
} */

/* .link:visited {
	color: inherit;
} */

/* .link img {
	width: var(--image-size);
	height: var(--image-size);
	margin: var(--margin-regular);
} */
/* 
.link img:active {
	transform: var(--click-button-transform);
}
.link img:hover {
	opacity: var(--hover-opacity);
} */

/* List of post its container base
   ================================ */

.container {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	height: calc(100% - 15.3rem);
	padding: 1rem;
	margin: 0;
}

@media (max-width: 768px) {
	.container {
		overflow-y: scroll;
		max-height: calc(100% - 15.3rem);
		justify-items: center;
		gap: 1rem;
	}
}

/* Post It base
   ============================= */

/* .postItContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	margin: 0.2rem 0;
	box-shadow: var(--box-shadow);
	'flex flex-col items-center justify-center bg-yellow shadow-md'
} */

/* .postItContainer .note {
	padding: 0.8rem;
	height: 20rem;
	width: 20rem;
	color: #0f0f0f;
	background: transparent;
	outline: none;
	border: none;
	'p-2 h-52 w-52 bg-transparent'
} */
