@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables
   ============================= */

:root {
	/* Shadow */
	--box-shadow: 0.5rem 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.2);

	/* Animations */
	--hover-opacity: 0.9;
	--click-button-transform: translateY(0.4rem);

	/* Layout */
	--image-size: 6rem;
	--margin-regular: 0.8rem;
	--no-padding: 0;
	--padding-regular: 1.2rem;
	--border-radius-regular: 0.8rem;
	--border-line: 1px solid var(--light-gray);
	--full-size: 100%;
}

/* List of post its container base
   ================================ */

.container {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	height: calc(100% - 15.3rem);
	padding: 1rem;
	margin: 0;
}

@media (max-width: 768px) {
	.container {
		overflow-y: scroll;
		max-height: calc(100% - 15.3rem);
		justify-items: center;
		gap: 1rem;
	}
}
