.backLink {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	margin: 0.8rem;
}

.backLink:visited {
	color: inherit;
}

.backLink img {
	width: 6rem;
	height: 6rem;
	margin: 0.8rem;
}

.backLink img:active {
	transform: translateY(0.4rem);
}
