/* Button base
   ============================= */

/* New Post It Button */

.button.newPostItButton {
	z-index: 4;
}

/* Trash space buttons */

/* .button.emptyTrash,
.button.restorePostIts {
	display: flex;
	flex-direction: column;
	align-items: center;
	w-20 h-20
} */

/* Post It buttons */

/* .button.closePostIt {
	opacity: 0.2;
	margin: 0;
	font-size: 2rem;
	'h-6 w-6 m-0 opacity-20 text-xl hover:opacity-100'
} */
.postItCreated .button.closePostIt {
	align-self: flex-end;
	padding: 0.8rem 0.8rem 0;
}

/* .button.closePostIt:hover{
	opacity: 1;
} */
