/* Button base
=================*/

.button {
	border-radius: 0.8rem;
	border: none;
	margin: 0.8rem;
	background: none;
}

.button:hover,
.button img:hover {
	opacity: 0.9;
}

.button:active {
	transform: translateY(0.4rem);
}

/* New Post It Button */

.button.newPostItButton {
	z-index: 4;
	padding: 0;
}

.button.newPostItButton img {
	width: 6rem;
	height: 6rem;
}

/* Modal buttons */

.confirmButton,
.cancelButton {
	width: 10rem;
	height: 5.2rem;
}

.button.confirmButton {
	background: #0b5ed7;
	color: white;
}

.button.cancelButton {
	background: #c4c4c4;
	color: #323233;
}

.button.emptyTrash,
.button.restorePostIts {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button.emptyTrash img,
.button.restorePostIts img {
	width: 6rem;
	height: 6rem;
	margin: 0.8rem;
}
