/* Post It base
   ============================= */

.postItContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--yellow);
	margin: 0.2rem 0;
	box-shadow: var(--box-shadow);
}

.postItContainer .note {
	padding: 1.6rem;
	height: 20rem;
	width: 20rem;
	color: #0f0f0f;
	background: transparent;
	outline: none;
	border: none;
}

.postItContainer .note:active {
	cursor: -webkit-grab;
}

.postItContainer.postItDeleted .note {
	resize: none;
}

@media (min-width: 769px) {
	.postItContainer.postItCreated {
		position: absolute;
		cursor: -webkit-grab;
	}
}

@media (max-width: 768px) {
	.postItContainer.postItCreated .note {
		resize: vertical;
	}
}
